*.*
*
!*/
!Makefile
!*.mk
!*.[cSh]
!*.v
!*.cc
!*.cpp
!.gitignore
!README.md
build/
yosys-sta/
result
Icache_pipeline.v
Icache_no_pipeline.v
Icache_less_area.v
Icache_less_area_2.v
ysyx_24100006_xbar_arbiter_copy.v